{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    <h1>Flask 활용하기</h1>
    <p class="lead">유튜브의 Eminem 페이지를 크롤링 해서 가져온 정보로 Flask 페이지를 구성합니다.</p>
</div>

<div class="row">
    {% for infos in eminem_info_list %}
    <div class="col-md-4">
        <h4 id="title">{{infos['title']}}</h4><p>{{infos['hits']}}</p> <p>{{infos['updated_time']}}</p>
        <p>
            <img src="{{infos['img_link']}}" />
        </p>
        <p><a class="btn btn-default" href="{{infos['video_link']}}">영상 보러가기 &raquo;</a></p>
    </div>
    {% endfor %}
</div>

{% endblock %}
